@font-face {
    font-family: 'TitleFont';
    src: url('../assets/fonts/chainwhacks-font/Chainwhacks-vm72E.ttf');
}

@font-face {
    font-family: 'PoppinsBoldItalic';
    src: url('../assets/fonts/Poppins/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'PoppinsLight';
    src: url('../assets/fonts/Poppins/Poppins-Light.ttf');
}

html {
    background-color: black;
}

body {
    overflow: hidden;
    background-color: black;

}

.popup {
    z-index: 999;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;

}

.popup img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-filter: blur(10px) brightness(70%);
    filter: blur(10px) brightness(70%);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.popup span {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 75%;
    text-align: center;
    -webkit-animation: glow 1.6s infinite alternate;
    -o-animation: glow 1.6s infinite alternate;
    animation: glow 1.6s infinite alternate;
    -webkit-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    text-shadow: 2px 2px 5px #000;
}


@-webkit-keyframes glow {
    to {
        text-shadow: 4px 4px 5px #000, 0 0 7px #fff, 0 0 10px #fff, 0 0 16px #fff, 0 0 23px #fff, 0 0 25px #fff
    }
}

@-o-keyframes glow {
    to {
        text-shadow: 4px 4px 5px #000, 0 0 7px #fff, 0 0 10px #fff, 0 0 16px #fff, 0 0 23px #fff, 0 0 25px #fff
    }
}

@keyframes glow {
    to {
        text-shadow: 4px 4px 5px #000, 0 0 7px #fff, 0 0 10px #fff, 0 0 16px #fff, 0 0 23px #fff, 0 0 25px #fff
    }
}





/* ------------------start screen UI-------------------------- */
#introOpener,
#cpddIntro,
#cpdd {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 100% !important;
    width: 100% !important;
    transform: translate(-50%, -50%);
}

#introOpener {
    z-index: -1;
}

#cpddIntro {
    z-index: 1000;
}

.logo {
    position: absolute;
    width: 50vw;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
}

.start-button-wrapper {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.default-img,
.hover-img {
    position: absolute;
    width: 20vw;
    top: 70vh;
    left: 50%;
    transform: translate(-50%);
}

.start-button-wrapper a img.hover-img {
    display: none;
}

.start-button-wrapper a:hover img.default-img {
    display: none;
}

.start-button-wrapper a:hover img.hover-img {
    display: block;
    top: 70vh;

    transform: translate(-50%);
    cursor: pointer;
}


@media screen and (max-width: 600px) {

    .food-item>img {
        width: 200px;


    }
}



/* ------------------------Frying introduction------------------------------- */
#video-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#fryingIntro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
}

#AllSummaryVid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100% !important;
    min-height: 100%;
}

#fry-finish-button {
    position: fixed;
    bottom: 20px;
    right: 20px;

}



/* ------------------ Food picker -------------------------- */
#foodPicker {
    max-width: 100%;
    max-height: 100vh;
    width: 100%;
    height:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.food-title-image {
    width: 750px;
    z-index: 1;

}


svg {
    width: 100%;
    min-height: 100%;
    height:100%;
    background-color: #000000;

}

rect:hover {
    cursor: pointer;
}


.food-item>img {
    transition: transform 0.4s ease;

}

.food-item>img:hover {
    transform: translateY(-10px);
    scale: 110%;
    cursor: pointer;

}

.food-text {
    font-family: 'PoppinsBoldItalic', cursive;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px #000000;

}

#hover-label {
    z-index: 1;
    position: absolute;
    height: 3vw;
}

#hover-label-tick {
    z-index: 1;
    position: absolute;
    height: 3vw;
}

.summary-UI img {
    max-height: 80vh;
    max-width: 80vw;
}

.summary-UI {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    transform: translate(-50%, -50%);
}

#hover-tick-tofu-ios,
#hover-tick-fish-ios,
#hover-tick-duck-ios,
#hover-tick-spinach-ios {
    width: 6vw;

}


#hover-label-tofu-ios,
#hover-label-fish-ios,
#hover-label-spinach-ios,
#hover-label-duck-ios {
    height: 10vh;
}

/* ------------------ Fry Food -------------------------- */


#fryFood {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#fry-text {
    position: fixed;
    background-color: #0000008a;
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 500px;
    font-size: 20px;

}


#fry-text-ios {
    right: -5vw;
    top: 10vw;
    position: absolute;
    background-color: #0000008a;
    padding: 1vw;
    border-radius: 10px;
    color: white;
    width: 30vw;
    font-size: 1vw;

}




.criteria-image {
    width: 610px;
}

#BF-criteria-image,
#SDB-criteria-image {
    width: 800px;
}

#foodImage {
    margin-top: 50px;
}



.default-back,
.hover-back {
    position: absolute;
    width: 400px;
}

.back-button-wrapper a img.hover-back {
    display: none;
}

.back-button-wrapper a:hover img.default-back {
    display: none;
}

.back-button-wrapper a:hover img.hover-back {
    display: block;
    transform: translate(0%, -10%);
    cursor: pointer;
}

.back-button-wrapper-ios {
    position: absolute;
    right: 25vw;
    bottom: 10vw;
}

#back-button-ios img {
    width: 20vw;

}

.back-button-wrapper-ios a img.hover-back {
    display: none;
}

.back-button-wrapper-ios a:hover img.default-back {
    display: none;
}

.back-button-wrapper-ios a:hover img.hover-back {
    display: block;
    transform: translate(0%, -10%);
    cursor: pointer;
}




/*  frying videos */


#food-video-container>video {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    transform: translate(-50%, -50%);
    z-index: -1;
    height: 100%;
    width: 100%;
}

.fry-button-wrapper {
    position: absolute;
    /* top: -10%; */
    left: 50%;
    transform: translate(-50%, 0%);
}

.fry-button-wrapper a img.hover-img {
    display: none;
}

.fry-button-wrapper a:hover img.default-img {
    display: none;
}

.fry-button-wrapper a:hover img.hover-img {
    display: block;
    transform: translate(-50%, 0%);
    cursor: pointer;
}

.criteria-wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.criteria-wrapper img {
    width: 50vw;
}

/* sdb fry */
#duck-summary-criteria-box {
    margin: 0 auto;
    width: 42vw;
}

/* end */

.end-cred img {
    width: 100vw;
    ;
    height: 100vh;
    ;

}

#final-continue-button-container {
    position: absolute;
    bottom: 120px;
    left: 0vw;
    z-index: 10;
}

.final-button-wrapper {
    position: absolute;
    bottom: 120px;
    right: 22vw;
    z-index: 10;
}


.final-button-wrapper img {
    width: 20vw;
}

.final-button-wrapper a img.hover-back {
    display: none;
}

.final-button-wrapper a:hover img.default-back {
    display: none;
}

.final-button-wrapper a:hover img.hover-back {
    display: block;
    transform: translate(0%, -10%);
    cursor: pointer;
}

#summary-button-container {
    top: 10% !important;
    right: 80% !important;
}

#summary-button-container img {
    width: 400px;
}

#summary-button-container-ios {
    position: absolute;
    bottom: 18% !important;
    left: 75% !important;
}

#summary-button-container-ios img {
    width: 20vw;
}




/* cpdd */
#cpddPlayBtn {
    max-width: 100vw;
    max-height: 100vh;
    height: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

#cpddPlayBtn:hover {
    cursor: pointer;
}