@font-face {
    font-family: 'TitleFont';
    src: url('../assets/fonts/chainwhacks-font/Chainwhacks-vm72E.ttf');
}

@font-face {
    font-family: 'PoppinsBoldItalic';
    src: url('../assets/fonts/Poppins/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'PoppinsLight';
    src: url('../assets/fonts/Poppins/Poppins-Light.ttf');
}

html {
    background-color: black;
}

body {
    overflow: hidden;

}

/* ------------------start screen UI-------------------------- */
#introOpener {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 100%;
    min-height: 120%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.logo {
    position: absolute;
    width: 50vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

.start-button-wrapper {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.default-img,
.hover-img {
    position: absolute;
    width: 20vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 70%);
}

.start-button-wrapper a img.hover-img {
    display: none;
}

.start-button-wrapper a:hover img.default-img {
    display: none;
}

.start-button-wrapper a:hover img.hover-img {
    display: block;
    transform: translate(-50%, 60%);
    cursor: pointer;
}


@media screen and (max-width: 600px) {

    .food-item>img {
        width: 200px;


    }
}



/* ------------------------Frying introduction------------------------------- */
#video-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#fryingIntro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    min-height: 120%;

}



#fry-finish-button {
    position: fixed;
    bottom: 20px;
    right: 20px;

}



/* ------------------ Food picker -------------------------- */
#foodPicker {
    min-width: 100%;
    min-height: 100%;

}

.food-title-image {
    position: fixed;
    width: 40vw;

}

.selection-menu-image {
    min-width: 100vw;
}

.hover-container {
    width: 1920px;
    height: 1080px;
}

.hover-selection {
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 1;
}

rect:hover {
    cursor: pointer;
}


.food-item>img {
    transition: transform 0.4s ease;

}

.food-item>img:hover {
    transform: translateY(-10px);
    scale: 110%;
    cursor: pointer;

}

.food-text {
    font-family: 'PoppinsBoldItalic', cursive;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px #000000;

}

#hover-label {
    z-index: 1;
    position: absolute;
    height: 3vw;
}


/* ------------------ Fry Food -------------------------- */


#fryFood {
    min-width: 100%;
    min-height: 100%;


}

#fry-text {
    position: fixed;
    background-color: #0000008a;
    padding: 2vw;
    padding-right: 2vw;
    border-radius: 1vw;
    color: white;
    font-size: 1.5vw;
    top: 10vw;
    right: -4vw;
    width: 35vw;

}



#criteria-image {
    position: fixed;
    padding: 1vw;
    width: 33vw;
}

#foodImage {
    margin-top: 50px;
}

.label-image {
    position: fixed;
    padding: 1vw;
    height: 6vw;
    top: 20vw;

}

#dryfry-label {
    left: 15vw;
}

#shallowfry-label {
    left: 65vw;
}

#stirfry-label {
    left: 42vw;
}



.default-back,
.hover-back {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20vw;
}

.back-button-wrapper a img.hover-back {
    display: none;
}

.back-button-wrapper a:hover img.default-back {
    display: none;
}

.back-button-wrapper a:hover img.hover-back {
    display: block;
    transform: translate(0%, -10%);
    cursor: pointer;
}


/*  frying videos */


#food-video-container>video {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
}

.fry-button-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fry-button-wrapper a img.hover-img {
    display: none;
}

.fry-button-wrapper a:hover img.default-img {
    display: none;
}

.fry-button-wrapper a:hover img.hover-img {
    display: block;
    transform: translate(-50%, 60%);
    cursor: pointer;
}
